/*---------------------------------------
  Reset
-----------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*----------------------------------------
  :root
-----------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #808080;
  --color-primary: #13547a;
  --color-secondary: #80d0c7;
  --color-section-bg: #f0f8ff;
  --color-custom-btn-bg: #80d0c7;
  --color-custom-btn-bg-hover: #13547a;
  --color-custom-btn-cl: #777;
  --color-custom-btn-cl-hover: #000;
  --color-p: #777777;
  --color-border: #7fffd4;
  --color-link-hover: #13547a;
  --font-family-base: 'Montserrat', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI', sans-serif;
  --font-size-h1: calc(32px + 6 * ((100vw - 320px) / 1120));
  --font-size-h2: calc(28px + 5 * ((100vw - 320px) / 1120));
  --font-size-h3: calc(24px + 4 * ((100vw - 320px) / 1120));
  --font-size-h4: calc(20px + 3 * ((100vw - 320px) / 1120));
  --font-size-h5: calc(18px + 2 * ((100vw - 320px) / 1120));
  --font-size-h6: calc(16px + 2 * ((100vw - 320px) / 1120));
  --font-size-h7: calc(14px + 2 * ((100vw - 320px) / 1120));
  --font-size-p: 16px;
  --font-size-s: 14px;
  --font-size-menu: calc(12px + 2 * ((100vw - 320px) / 1120));
  --font-size-btns: calc(12px + 2 * ((100vw - 320px) / 1120));
  --font-size-btn: calc(14px + 2 * ((100vw - 320px) / 1120));
  --font-size-copyright: calc(12px + 2 * ((100vw - 320px) / 1120));
  --border-radius-top: calc(40px + 20 * ((100vw - 320px) / 1120)) calc(40px + 20 * ((100vw - 320px) / 1120)) 0 0;
  --border-radius-bottom: 0 0 calc(40px + 20 * ((100vw - 320px) / 1120)) calc(40px + 20 * ((100vw - 320px) / 1120));
  --border-radius-large: calc(20px + 20 * ((100vw - 320px) / 1120));
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  --shadow-top: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}


/*---------------------------------------
  EC CUBE common
-----------------------------------------*/
.ec-layoutRole__contentTop .container,
.detail-pro .container {
  max-width: 1320px;
}

.ec-pager {
  list-style: none;
  list-style-type: none;
  margin: 3rem auto;
  padding: 1em 0;
  text-align: center;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1120));
}

.ec-pager .ec-pager__item--active {
  background: #525263;
  color: #fff;
  border-radius: 10px;
}

.ec-pager .ec-pager__item:hover {
  border-radius: 10px;
}

.ec-pager .ec-pager__item,
.ec-pager .ec-pager__item--active {
  display: inline-block;
  min-width: 29px;
  padding: 0 3px 0 2px;
  text-align: center;
  position: relative;
}

.ec-pager .ec-pager__item a,
.ec-pager .ec-pager__item--active a {
  color: inherit;
  display: block;
  line-height: 1.8;
  padding: 5px 1em;
  text-decoration: none;
}

/*---------------------------------------
  EC CUBE Btn
-----------------------------------------*/
@media (min-width: 768px) {

  .ec-blockBtn--action,
  .ec-cartRole__action,
  .ec-blockBtn--cancel,
  .ec-rectHeading p,
  .ec-rectHeading-error p,
  .ec-agreement .agreement-link .agreement-Btn:disabled,
  .ec-agreement .agreement-link .agreement-Btn,
  .ec-inlineBtn,
  .mypage-login-Btn,
  .mypage-login-Btns,
  .shipping-Btn-action,
  .shipping-Btn-add,
  .shipping-Btn-rev,
  .shipping-Btn-back {
    width: 360px !important;
  }
}

.ec-blockBtn--action,
.ec-cartRole__action,
.ec-blockBtn--cancel,
.ec-rectHeading p,
.ec-rectHeading-error p,
.ec-agreement .agreement-link .agreement-Btn:disabled,
.ec-agreement .agreement-link .agreement-Btn,
.ec-inlineBtn,
.mypage-login-Btn,
.mypage-login-Btns,
.shipping-Btn-action,
.shipping-Btn-add,
.shipping-Btn-rev,
.shipping-Btn-back {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  padding: 1.5rem;
  font-size: calc(12px + 2 * ((100vw - 320px) / 670));
  font-weight: bold;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  transition: ease .2s;
  width: 100%;
}

.ec-cartRole__actions,
.shipping-Btn__actions {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  width: 100%;
}

.ec-blockBtn--action,
.ec-cartRole__action,
.shipping-Btn-action {
  background: #0dab65;
  color: #fff;
  border: 2px solid #0dab65;
  height: 0;
  line-height: 0;
}

.ec-blockBtn--action:hover,
.ec-cartRole__action:hover,
.shipping-Btn-action:hover {
  color: #0dab65;
  background: #fff;
  border: 2px solid #0dab65;
}

.ec-blockBtn--cancel,
.shipping-Btn-back {
  background-color: #fff;
  color: #525263;
  border: 2px solid #c4c4c4;
  height: 0;
  line-height: 0;
}

.ec-blockBtn--cancel:hover,
.shipping-Btn-back:hover {
  color: #fff;
  background: #c4c4c4;
  border: 2px solid #c4c4c4;
}

.ec-cartTable .ec-blockBtn--action {
  display: none;
}

@media screen and (max-width: 768px) {
  .ec-cartTable .ec-blockBtn--action {
    display: block;
  }
}

/*---------------------------------------
  EC CUBE shipping-Btn
-----------------------------------------*/
.shipping-Btn-add,
.shipping-Btn-rev {
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background: #fff;
  color: #0dab65;
  border: 2px solid #0dab65;
  padding: 0.5rem;
}

.shipping-Btn-add p.Btn-read,
.shipping-Btn-rev p.Btn-read {
  font-size: calc(8px + 2 * ((100vw - 320px) / 670));
  padding: 0;
}

.shipping-Btn-add:hover,
.shipping-Btn-rev:hover {
  color: #fff;
  background: #0dab65;
  border: 2px solid #0dab65;
}

/*---------------------------------------
  EC CUBE VeriTrans
-----------------------------------------*/
button#vt4g_btn_token,
a#vt4g_btn_token_back {
  width: 350px !important;
  margin: 0 auto !important;
  text-align: center !important;
}

/*---------------------------------------
  FD common
-----------------------------------------*/
.ecv-Wrap {
  margin: 1rem auto !important;
}

.ecv-header {
  margin-top: 0 !important;
}

.wrapper {
  display: grid;
  column-gap: 10px;
  row-gap: 1em;
}

input {
  font-family: var(--font-family-base);
  color: #333;
  cursor: text;
  width: 100%;
  border: 1px solid #878787;
  border-radius: 8px;
  padding: 10px;
  display: block;
}

.form-control:disabled,
.form-control:read-only {
  background-color: #fff;
  color: #525263;
  opacity: 1;
}

img {
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: all 0.2s ease 0s;
  }
}

a img:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.indent {
  text-indent: -1rem;
  padding-left: 1rem;
}

.bl-primary,
.bl-secondary,
.bl-danger,
.bl-dark,
.bl-gray {
  position: relative;
  padding-left: .8em;
}

.bl-primary::before,
.bl-secondary::before,
.bl-danger::before,
.bl-dark::before,
.bl-gray::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

.bl-primary::before {
  background-color: var(--color-primary);
}

.bl-danger::before {
  background-color: #dc3545;
}

.bl-secondary::before {
  background-color: var(--color-secondary);
}

.bl-dark::before {
  background-color: black;
}

.bl-gray::before {
  background-color: #777777;
}

@media (max-width: 769px) {
  .fixed-bottom {
    position: initial;
  }
}

/*---------------------------------------
  col-15
-----------------------------------------*/
.col-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .col-15 {
    width: 20%;
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .col-15 {
    width: 20%;
    flex: 0 0 33.33333%;
  }
}

@media (min-width: 992px) {
  .col-15 {
    width: 20%;
    flex: 0 0 33.33333%;
  }
}

@media (min-width: 1200px) {
  .col-15 {
    width: 20%;
    flex: 0 0 20%;
  }
}



/*****************************************
  SITE ORG
******************************************/

/*----------------------------------------
  base
-----------------------------------------*/
body {
  background-color: var(--color-white);
  font-family: var(--font-family-base);
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 96%;
}

.row {
  margin-right: calc(0* var(--bs-gutter-x));
  margin-left: calc(0* var(--bs-gutter-x));
}

@media (max-width: 768px) {
  .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .row>* {
    padding-right: calc(var(--bs-gutter-x)* 0);
    padding-left: calc(var(--bs-gutter-x)* 0);
  }
}

.sec-gap {
  display: grid;
  margin-top: 2rem;
  grid-gap: 2rem;
}

.svh-sp {
  height: 100vh;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .sp {
    display: inline-flex;
  }
}

@media screen and (max-width: 767px),
(min-width: 993px) {
  .sp {
    display: none;
  }
}

/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  color: var(--color-primary);
  font-size: var(--font-size-h6);
}

p {
  color: var(--color-p);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--color-p);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  SOCIAL ICON
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--color-secondary);
  border-radius: var(--border-radius-large);
  color: var(--color-white);
  font-size: var(--font-size-copyright);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background-color 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

/*---------------------------------------
  CUSTOM BUTTON
-----------------------------------------*/
.custom-btn {
  background: var(--color-custom-btn-bg);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--color-white);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--color-custom-btn-bg-hover);
  color: var(--color-white);
}

.custom-btn-close {
  background: var(--color-custom-btn-cl);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--color-white);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn-close:hover {
  background: var(--color-custom-btn-cl-hover);
  color: var(--color-white);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--color-custom-btn-bg);
  color: var(--color-custom-btn-bg);
}

.custom-border-btn:hover {
  background: var(--color-custom-btn-bg);
  border-color: transparent;
  color: var(--color-white);
}

.custom-btn-bg-white {
  border-color: var(--color-white);
  color: var(--color-white);
}

/*---------------------------------------
  SECTION
-----------------------------------------*/
.section-padding {
  padding-top: calc(30px + 20 * ((100vw - 320px) / 1120));
  padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1120));
}

.section-bg {
  background-color: var(--color-section-bg);
}

.section-overlay,
.section-overlay-bg {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.section-overlay-bg {
  border-radius: var(--border-radius-top);
  box-shadow: var(--shadow);
}

.section-overlay+.container,
.section-overlay-bg+.container {
  position: relative;
}

.tab-content {
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
}

.nav {
  --bs-nav-link-padding-x: .5rem;
}

.nav-tabs {
  width: 100%;
}

.nav-tabs {
  border-bottom: 1px solid #ecf3f2;
  margin: 10px 0;
  justify-content: space-between;
  display: flex;
}

@media (max-width: 768px) {
  .nav-tabs {
    justify-content: center;
  }

  .nav-tabs .nav-item {
    flex: 1 1 20%;
    justify-items: center;
  }
}

.nav-tabs .nav-link {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: var(--color-p);
  font-family: var(--title-font-family);
  font-weight: var(--font-weight-medium);
  padding: 15px auto;
  transition: all 0.3s;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-bottom-color: var(--color-primary);
  color: var(--color-primary);
}

.nav-tabs .nav-link.active {
  background: var(--color-custom-btn-bg);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--color-white);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 4px 6px;

}

.nav-tabs .nav-link.active:hover {
  background: var(--color-custom-btn-bg-hover);
  color: var(--color-white);
}

.tab-pane,
.custom-block-image2 {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tab-pane.active,
.tab-pane.active .custom-block-image2 {
  opacity: 1;
  transition: opacity 0s ease;
}

.tab-pane.fade {
  transition: opacity 0.1s ease, transform 0.1s ease;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.tab-pane.show,
.tab-pane.show .custom-block-image2 {
  animation: slideInFromRight 0.3s forwards;
}

/*---------------------------------------
  SITE HEADER
-----------------------------------------*/
.site-header {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding-top: 150px;
  padding-bottom: 80px;
}

.site-header .container {
  height: 100%;
}

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item a:hover,
.breadcrumb-item.active {
  color: var(--color-white);
}

.site-header .custom-icon {
  color: var(--color-white);
  font-size: var(--font-size-h4);
}

.site-header .custom-icon:hover {
  color: var(--color-secondary);
}


/*---------------------------------------
  NAVBAR
-----------------------------------------*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  z-index: 9;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: var(--color-secondary, #80d0c7);
  transition: background-color 0.3s ease;
  box-shadow: var(--shadow);
}

.brand-name,
.brand-name:hover,
.brand-name-f,
.brand-name-f:hover {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;

}

.brand-name span {
  font-family: var(--title-font-family);
  color: #fff;
  transition: color 0.3s ease;
}


.scrolled .brand-name span {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--color-white);
  font-family: var(--title-font-family);
  font-size: var(--font-size-menu);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--color-primary);
}

.navbar .dropdown-menu {
  background: var(--color-white);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--color-white);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-bg-color);
  font-family: var(--title-font-family);
  font-size: var(--font-size-menu);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--color-primary);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--font-size-copyright);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}

.navbar-icon {
  position: relative;
  background: var(--color-white);
  border-radius: var(--border-radius-large);
  display: inline-block;
  font-size: var(--font-size-h5);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.navbar-icon:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.navbar-icon .cart-badge {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ED161B;
  color: #fff;
  border-radius: 50%;
  top: -6px;
  right: -2px;
  font-size: calc(10px + 2*((100vw - 320px) / 670));
  font-weight: bold;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--color-white);
  transition: background-color 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--color-white);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

img.sitelogo {
  width: calc(30px + 8 * ((100vw - 320px) / 1120));
  height: calc(30px + 8 * ((100vw - 320px) / 1120));
  display: inline;
  margin-right: .2rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(629%) hue-rotate(93deg) brightness(115%) contrast(106%);
  transition: filter 0.3s ease;
}

img.sitelogo-f {
  width: calc(30px + 8 * ((100vw - 320px) / 1120));
  height: calc(30px + 8 * ((100vw - 320px) / 1120));
  display: inline;
  margin-right: .2rem;
  filter: brightness(0) saturate(100%) invert(29%) sepia(68%) saturate(539%) hue-rotate(158deg) brightness(87%) contrast(100%);
}

.scrolled img.sitelogo {
  filter: brightness(0) saturate(100%) invert(29%) sepia(68%) saturate(539%) hue-rotate(158deg) brightness(87%) contrast(100%);
  transition: filter 0.3s ease;
}

.header-icon {
  display: flex;
  justify-content: space-between;
}

/*---------------------------------------
  HERO
-----------------------------------------*/
.hero-section {
  overflow: hidden;
  position: relative;
  background-image: url('../img/kozaki.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-bottom);
}

@media (max-width: 768px) {
  .hero-section {
    height: 50vh;

  }

  .hero-section h1 {
    font-size: var(--font-size-h3);
  }
}

.hero-section .input-group {
  background-color: var(--color-white);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
}

.hero-section .input-group-text {
  background-color: transparent;
  border: 0;
}

.hero-section input[type="search"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-section button[type="submit"] {
  background-color: var(--color-primary);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--color-white);
  max-width: 150px;
}

/*---------------------------------------
  section-first
-----------------------------------------*/
.section-first {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-bottom);
  box-shadow: var(--shadow);
  margin-top: 100px;
  padding-bottom: 80px;
}

.bg-text {
  color: var(--color-secondary);
  text-align: center;
}

.bg-titl {
  position: relative;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero-section {
    height: 30vh;
  }

  .bg-titl {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .bg-titl h1 {
    font-size: var(--font-size-h3);
  }
}

.section-first .row {
  position: relative;
  bottom: 100px;
  margin-bottom: -100px;
}

.custom-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
  min-height: 190px;
}

.custom-block2,
.custom-block3 {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
  min-height: 190px;
}

.custom-block3 {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}

@media (max-width: 768px) {
  .custom-block {
    min-height: 186px !important;
  }

  .custom-block2 {
    min-height: 140px !important;
  }

  .custom-block3 {
    min-height: 180px !important;
    margin-bottom: 1rem;
  }

  .custom-block,
  .custom-block2,
  .custom-block3,
  .custom-block-overlay-text {
    padding: 1rem !important;
  }
}

.custom-block:hover,
.custom-block2:hover {
  background-color: var(--color-secondary);
  transform: translateY(-3px);
}

.custom-block3:hover {
  transform: translateY(-3px);
}

.custom-block3 a.custom-block3:hover {
  background: var(--color-custom-btn-bg);
}

.custom-block>a {
  width: 100%;
}

.custom-block-image {
  object-fit: cover;
  position: absolute;
  bottom: .5rem;
  right: 2rem;
}

.custom-block-image2 {
  object-fit: cover;
  margin-top: 35px;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}

.boat {
  width: 400px;
  height: 187px;
}

.ft12 {
  width: 343px;
  height: 102px;
}

.ft13 {
  width: 371px;
  height: 110px;
}

.ft14 {
  width: 400px;
  height: 119px;
}

.ft15 {
  width: 429px;
  height: 127px;
}

.ft16 {
  width: 457px;
  height: 136px;
}

.ft17 {
  width: 486px;
  height: 144px;
}

.ft18 {
  width: 514px;
  height: 153px;
}

.ft19 {
  width: 543px;
  height: 161px;
}

.ft20 {
  width: 571px;
  height: 169px;
}

.ft21 {
  width: 600px;
  height: 178px;
}

@media (max-width: 960px) {
  .custom-block-image {
    right: .5rem;
  }

  .boat {
    width: 260px;
    height: 121px;
  }

  .ft12 {
    width: 160px;
    height: 47px;
  }

  .ft13 {
    width: 173px;
    height: 51px;
  }

  .ft14 {
    width: 187px;
    height: 55px;
  }

  .ft15 {
    width: 200px;
    height: 59px;
  }

  .ft16 {
    width: 213px;
    height: 63px;
  }

  .ft17 {
    width: 226px;
    height: 67px;
  }

  .ft18 {
    width: 240px;
    height: 71px;
  }

  .ft19 {
    width: 253px;
    height: 75px;
  }

  .ft20 {
    width: 267px;
    height: 79px;
  }

  .ft21 {
    width: 280px;
    height: 83px;
  }
}

.custom-block .rounded-pill {
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 20px;
}

.custom-block-overlay {
  height: 100%;
  padding: 0;
  background-color: #13547a;
  box-shadow: var(--shadow);
}

.custom-block-overlay>a {
  height: 100%;
}

.custom-block-overlay .custom-block-image {
  border-radius: var(--border-radius-top);
  display: block;
  margin-top: 0;
}

.custom-block-overlay-text {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.social-share {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 20px 35px;
}

.social-share .bi-bookmark {
  color: var(--color-white);
  font-size: var(--font-size-h5);
}

.social-share .bi-bookmark:hover {
  color: var(--color-secondary);
}

.bg-design {
  background-color: #00B0FF;
}

.bg-graphic {
  background-color: #00BFA6;
}

.bg-advertising {
  background-color: #F50057;
}

.bg-finance {
  background-color: #536DFE;
}

.bg-music {
  background-color: #F9A826;
}

.bg-education {
  background-color: #00BFA6;
}

/*---------------------------------------
  simulator
-----------------------------------------*/
.collapse {
  transition: height 0.8s ease;
}

.card-howto-simulator,
.card-deduction {
  transition: all 0.8s ease;
  opacity: 0;
}

.card-deduction .card {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-medium);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: inherit;

}

.card-deduction .card-header {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
}

.collapse.show .card-howto-simulator,
.collapse.show .card-deduction {
  transition: all 0.8s ease;
  opacity: 1;
}

#sec-simulator {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-medium);
  position: relative;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#sec-simulator .bg-simulator {
  box-shadow: var(--shadow);
  background: #fff;
  border-radius: 20px;
  position: relative;
}

#sec-simulator .bg-simulator-header {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
  padding: .5rem 0;
}

#sec-simulator .bg-simulator-readaera {
  padding: 1rem;
  text-align: center;
  font-size: calc(12px + 2 * ((100vw - 320px) / 670));
}

#sec-simulator .bg-simulator-read {
  padding: 1rem;
  font-size: calc(10px + 2 * ((100vw - 320px) / 670));
}

#sec-simulator .bg-simulator-read p {
  font-size: calc(10px + 2 * ((100vw - 320px) / 670));
}

#sec-simulator .bg-simulator-body {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}

#sec-simulator .bg-simulator-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#sec-simulator .bg-simulator-req {
  padding: 0.5rem 1rem;
  background: #dc3545;
  color: #fff;
  font-weight: bold;
  font-size: calc(10px + 2 * ((100vw - 320px) / 670));
  line-height: 1;
  text-align: center;
  border-radius: 8px;
  word-break: keep-all;
}

#sec-simulator .bg-simulator-tq {
  width: calc(165px + 2 * ((100vw - 320px) / 670));
  font-weight: bold;
  font-size: calc(12px + 2 * ((100vw - 320px) / 670));
  text-align: initial;
}

@media screen and (max-width: 768px) {
  #sec-simulator .bg-simulator-req {
    font-size: calc(10px + 0 * ((100vw - 320px) / 670));
  }

  #sec-simulator .bg-simulator-tq {
    width: calc(145px + 2 * ((100vw - 320px) / 670));
    font-weight: bold;
    font-size: calc(12px + 2 * ((100vw - 320px) / 670));
    text-align: initial;
  }

  #sec-simulator .bg-simulator-select {
    position: relative;
    width: calc(200px + 2 * ((100vw - 320px) / 670));
  }
}

#sec-simulator .bg-simulator-ta {
  color: #000 !important;
  font-size: calc(12px + 2 * ((100vw - 320px) / 670)) !important;
  letter-spacing: 0 !important;
}

#sec-simulator .bg-simulator-select {
  position: relative;
  width: calc(280px + 2 * ((100vw - 320px) / 670));
}

#sec-simulator .bg-simulator-select select {
  width: 100%;
  padding: 1rem;
  background: #fff;
  font-size: calc(10px + 2 * ((100vw - 320px) / 670));
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: initial;
  border-radius: 10px;
}

#sec-simulator .bg-simulator-select,
textarea {
  background-color: hwb(0 100% 0%);
  border: 1px solid #d0d5db;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}

#sec-simulator .bg-simulator-select:after {
  position: absolute;
  right: 1.5rem;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  border-right: 2px solid #b1b1b1;
  border-bottom: 2px solid #b1b1b1;
  content: "";
  pointer-events: none;
}

#sec-simulator .bg-simulator-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

#sec-simulator .bg-simulator-result {
  background: #fff;
  text-align: center;
  border: 1px solid #d0d5db;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

#sec-simulator .bg-simulator-result.is-over p,
#sec-simulator .bg-simulator-result.is-over .caution-txt {
  visibility: visible;
}

#sec-simulator .bg-simulator-result p:nth-of-type(1) {
  font-size: calc(12px + 2 * ((100vw - 320px) / 670));
  font-weight: bold;
}

#sec-simulator .bg-simulator-result p {
  visibility: hidden;
}

#sec-simulator .bg-simulator-result .caution-txt {
  visibility: hidden;
  font-size: calc(8px + 2 * ((100vw - 320px) / 670));
}

#sec-simulator .bg-simulator-result input {
  width: 100%;
  padding: 0;
  border: 0;
  color: var(--color-primary);
  font-weight: bold;
  font-size: calc(20px + 2 * ((100vw - 320px) / 670));
  letter-spacing: 4px;
  text-align: center;
}

#sec-simulator .simulator-exc p {
  font-size: calc(12px + 0 * ((100vw - 320px) / 670));
  word-break: auto-phrase;
}

#sec-simulator .simulator-exc {
  display: flex;
  align-items: center;
  position: relative;
}

#collapse-deduction .table,
#collapse-deductionEx .card-body p,
#collapse-deductionKs .card-body p {
  font-size: var(--font-size-p);
  color: var(--color-p);
}

#collapse-deduction .table tr {
  border-top: 1px solid #c8c8c8;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#collapse-deduction .table th {
  width: 30%;
  padding: 1rem 0;
}

#collapse-deduction .table td {
  width: 70%;
  padding: 1rem 0;
}

@media (max-width: 769px) {
  #collapse-deduction .table tr {
    flex-direction: column;
  }

  #collapse-deduction .table th {
    padding-bottom: 0;
    width: 40%;
  }

  #collapse-deduction .table td {
    padding-top: .5rem;
  }

}

#collapse-deductionEx .card-body p.subt {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  line-height: 2rem;
  padding-top: 1rem;
}

/*---------------------------------------
  TIMELINE
-----------------------------------------*/
.timeline-section {
  background-image: url('../img/topmarine.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: var(--border-radius-top);
}

.timeline-container .timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.timeline-container .timeline .list-progress {
  width: 8px;
  height: 90%;
  background-color: var(--color-primary);
  position: absolute;
  left: 48px;
  top: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.timeline-container .timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--color-secondary);
  width: 100%;
}

.timeline-container .timeline li {
  position: relative;
  padding: 1rem 0px 4rem 140px;
}

.timeline-container .timeline li:last-child {
  padding-bottom: 0;
}

.timeline-container .timeline li p {
  line-height: 1.5rem;
}

.timeline-container .timeline li p:last-child {
  margin-bottom: 0;
}

.timeline-container .timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
  box-shadow: var(--shadow);
}

.timeline-container .timeline li .icon-holder::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: var(--color-secondary);
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}

.timeline-container .timeline li .icon-holder i {
  font-size: 25px;
  color: var(--color-white);
}

.timeline-container .timeline li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 52px;
  z-index: 0;
}

.timeline-container .timeline li.active .icon-holder {
  background-color: var(--color-primary);
}

.timeline-container .timeline li.active .icon-holder::before {
  background-color: var(--color-primary);
}

/*---------------------------------------
  topmarin
-----------------------------------------*/
.img-topmarin-brand {
  border-radius: var(--border-radius-medium);
  margin-bottom: 1rem;
  box-shadow: var(--shadow);
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;
}

.w-rap {
  width: calc(33.33% - 1rem);
  background-color: var(--color-white);
  border-radius: var(--border-radius-medium);
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}

.w-rap:last-child {
  background-color: initial;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  .w-rap {
    width: 100%;
    height: 100%;
  }

  .topmarin h6 {
    font-size: var(--font-size-h7);
  }
}

.google-map {
  border-radius: var(--border-radius-medium);
  flex-grow: 1;
}

/*---------------------------------------
  FOOTER
-----------------------------------------*/
.footer-wrap {
  border-bottom: 10px solid var(--color-secondary);
  position: relative;
  background-image: url('../img/kozaki.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow-top);
}

.footer-wrap-title {
  color: var(--color-primary);
}

.footer-wrap-p {
  font-size: var(--font-size-s);
  color: var(--color-primary);
}

.footer-box {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow);
  width: calc(33.33% - 1rem);
}

@media screen and (max-width: 768px) {
  .footer-box {
    width: 100%;
    height: 100%;
  }
}

.footer-wrap-links {
  padding-left: 0;
}

.footer-wrap-link-item {
  display: block;
  list-style: none;
  line-height: 1.5rem;
}

.footer-wrap-link {
  color: var(--color-primary);
  font-size: var(--font-size-copyright);
  font-weight: var(--font-weight-medium);
  line-height: normal;
}

.footer-wrap-link:hover {
  color: var(--color-secondary);
}

.copyright-text {
  font-size: var(--font-size-copyright);
}

.btn-topback {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 3rem;
  margin-right: 2.5rem;
  background: var(--color-primary);
  border-radius: var(--border-radius-large);
  color: var(--color-secondary);
  display: inline-block;
  font-size: var(--font-size-h5);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-topback:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}

/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/
@media screen and (max-width: 991px) {
  .navbar {
    background-color: var(--color-secondary);
  }

  .navbar-nav .dropdown-menu {
    position: relative;
    left: 10px;
    opacity: 1;
    pointer-events: auto;
    max-width: 155px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .nav-tabs .nav-link {
    font-size: var(--font-size-copyright);
    padding: 10px;
  }

  .section-first {
    padding-bottom: 50px;
  }

  .custom-block-topics-listing .custom-block-image {
    width: auto;
  }

  .custom-block-topics-listing>.d-flex,
  .custom-block-topics-listing-info,
  .custom-block-topics-listing a {
    flex-direction: column;
  }

  .timeline-container .timeline .list-progress {
    height: 90%;
  }

  .timeline-container .timeline li {
    padding-left: 120px;
  }

  .subscribe-form-wrap {
    padding-top: 30px;
    padding-bottom: 0;
  }
}