/*---------------------------------------
  Reset
-----------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/*----------------------------------------
  :root
-----------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #808080;
  --color-primary: #000;
  --color-secondary: #80d0c7;
  --color-section-bg: #f0f8ff;
  --color-custom-btn-bg: #80d0c7;
  --color-custom-btn-bg-hover: #13547a;
  --color-custom-btn-cl: #777;
  --color-custom-btn-cl-hover: #000;
  --color-p: #000;
  --color-border: #7fffd4;
  --color-link-hover: #808080;
  --font-family-base: 'Karla', 'Shippori Mincho', serif;
  --font-size-h1: calc(32px + 6 * ((100vw - 320px) / 1120));
  --font-size-h2: calc(28px + 5 * ((100vw - 320px) / 1120));
  --font-size-h3: calc(24px + 4 * ((100vw - 320px) / 1120));
  --font-size-h4: calc(20px + 3 * ((100vw - 320px) / 1120));
  --font-size-h5: calc(18px + 2 * ((100vw - 320px) / 1120));
  --font-size-h6: calc(16px + 2 * ((100vw - 320px) / 1120));
  --font-size-h7: calc(14px + 2 * ((100vw - 320px) / 1120));
  --font-size-h8: calc(12px + 2 * ((100vw - 320px) / 1120));
  --font-size-h9: calc(10px + 2 * ((100vw - 320px) / 1120));
   --font-size-p: 16px;
  --font-size-s: 14px;
  --font-size-ss: 12px;
  --font-size-sss: 10px;
  --font-size-menu: calc(12px + 2 * ((100vw - 320px) / 1120));
  --font-size-btns: calc(12px + 2 * ((100vw - 320px) / 1120));
  --font-size-btn: calc(14px + 2 * ((100vw - 320px) / 1120));
  --font-size-copyright: calc(12px + 2 * ((100vw - 320px) / 1120));
  --border-radius-top: calc(40px + 20 * ((100vw - 320px) / 1120)) calc(40px + 20 * ((100vw - 320px) / 1120)) 0 0;
  --border-radius-bottom: 0 0 calc(40px + 20 * ((100vw - 320px) / 1120)) calc(40px + 20 * ((100vw - 320px) / 1120));
  --border-radius-large: calc(20px + 20 * ((100vw - 320px) / 1120));
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  --shadow-top: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);

/*tsugi size*/
/*
--fspt10: calc(13.33px + 2 * ((100vw - 320px) / 1600));
--fspt11: calc(14.66px + 2 * ((100vw - 320px) / 1600));
--fspt12: calc(16.00px + 2 * ((100vw - 320px) / 1600));
--fspt13: calc(17.33px + 2 * ((100vw - 320px) / 1600));
--fspt14: calc(18.66px + 2 * ((100vw - 320px) / 1600));
--fspt15: calc(20.00px + 2 * ((100vw - 320px) / 1600));
--fspt16: calc(21.33px + 2 * ((100vw - 320px) / 1600));
--fspt17: calc(22.67px + 2 * ((100vw - 320px) / 1600));
--fspt18: calc(24.00px + 2 * ((100vw - 320px) / 1600));
--fspt19: calc(25.33px + 2 * ((100vw - 320px) / 1600));
--fspt20: calc(26.67px + 2 * ((100vw - 320px) / 1600));
--fspt21: calc(28.00px + 2 * ((100vw - 320px) / 1600));
--fspt22: calc(29.33px + 2 * ((100vw - 320px) / 1600));
--fspt23: calc(30.67px + 2 * ((100vw - 320px) / 1600));
--fspt24: calc(32.00px + 2 * ((100vw - 320px) / 1600));
--fspt25: calc(33.33px + 2 * ((100vw - 320px) / 1600));
--fspt26: calc(34.67px + 2 * ((100vw - 320px) / 1600));
--fspt27: calc(36.00px + 2 * ((100vw - 320px) / 1600));
--fspt28: calc(37.33px + 2 * ((100vw - 320px) / 1600));
--fspt29: calc(38.67px + 2 * ((100vw - 320px) / 1600));
--fspt30: calc(40.00px + 2 * ((100vw - 320px) / 1600));
--fspt31: calc(41.33px + 2 * ((100vw - 320px) / 1600));
--fspt32: calc(42.67px + 2 * ((100vw - 320px) / 1600));
--fspt33: calc(44.00px + 2 * ((100vw - 320px) / 1600));
--fspt34: calc(45.33px + 2 * ((100vw - 320px) / 1600));
--fspt35: calc(46.67px + 2 * ((100vw - 320px) / 1600));
*/
/*calc
--fspt1009: calc(12.00px + 1.33 * ((100vw - 320px) / 1600));
--fspt1312: calc(16.00px + 1.33 * ((100vw - 320px) / 1600));
--fspt1313: calc(17.33px + 0.0 * ((100vw - 320px) / 1600));
--fspt1414: calc(18.66px + 0.0 * ((100vw - 320px) / 1600));
--fspt1511: calc(14.66px + 5.34 * ((100vw - 320px) / 1600));
--fspt1613: calc(17.33px + 4.0 * ((100vw - 320px) / 1600));
--fspt1616: calc(21.33px + 0.0 * ((100vw - 320px) / 1600));
--fspt1813: calc(17.33px + 6.66 * ((100vw - 320px) / 1600));
--fspt1816: calc(21.33px + 2.66 * ((100vw - 320px) / 1600));
--fspt2020: calc(26.66px + 0.0 * ((100vw - 320px) / 1600));
--fspt2013: calc(17.33px + 9.33 * ((100vw - 320px) / 1600));
--fspt2216: calc(21.33px + 8.0 * ((100vw - 320px) / 1600));
--fspt2222: calc(29.33px + 0.0 * ((100vw - 320px) / 1600));
--fspt2414: calc(18.66px + 13.33 * ((100vw - 320px) / 1600));
--fspt2415: calc(20.00px + 11.99 * ((100vw - 320px) / 1600));
--fspt2424: calc(31.99px + 0.0 * ((100vw - 320px) / 1600));
--fspt2516: calc(21.33px + 11.99 * ((100vw - 320px) / 1600));
--fspt2521: calc(27.99px + 5.33 * ((100vw - 320px) / 1600));
--fspt2616: calc(21.33px + 13.33 * ((100vw - 320px) / 1600));
--fspt2720: calc(26.66px + 9.33 * ((100vw - 320px) / 1600));
--fspt3220: calc(26.66px + 16.0 * ((100vw - 320px) / 1600));
--fspt3724: calc(31.99px + 17.33 * ((100vw - 320px) / 1600));
*/

/*clamp*/
--fspt1009: clamp(12.0px, calc(12.0px + 1.33 * ((100vw - 320px) / 1600)), 13.33px);
--fspt1312: clamp(16.0px, calc(16.0px + 1.33 * ((100vw - 320px) / 1600)), 17.33px);
--fspt1313: clamp(17.33px, calc(17.33px + 0.0 * ((100vw - 320px) / 1600)), 17.33px);
--fspt1414: clamp(18.66px, calc(18.66px + 0.0 * ((100vw - 320px) / 1600)), 18.66px);
--fspt1511: clamp(14.66px, calc(14.66px + 5.34 * ((100vw - 320px) / 1600)), 20.0px);
--fspt1613: clamp(17.33px, calc(17.33px + 4.0 * ((100vw - 320px) / 1600)), 21.33px);
--fspt1616: clamp(21.33px, calc(21.33px + 0.0 * ((100vw - 320px) / 1600)), 21.33px);
--fspt1813: clamp(17.33px, calc(17.33px + 6.66 * ((100vw - 320px) / 1600)), 23.99px);
--fspt1816: clamp(21.33px, calc(21.33px + 2.66 * ((100vw - 320px) / 1600)), 23.99px);
--fspt2020: clamp(26.66px, calc(26.66px + 0.0 * ((100vw - 320px) / 1600)), 26.66px);
--fspt2013: clamp(17.33px, calc(17.33px + 9.33 * ((100vw - 320px) / 1600)), 26.66px);
--fspt2216: clamp(21.33px, calc(21.33px + 8.0 * ((100vw - 320px) / 1600)), 29.33px);
--fspt2222: clamp(29.33px, calc(29.33px + 0.0 * ((100vw - 320px) / 1600)), 29.33px);
--fspt2414: clamp(18.66px, calc(18.66px + 13.33 * ((100vw - 320px) / 1600)), 31.99px);
--fspt2415: clamp(20.0px, calc(20.0px + 11.99 * ((100vw - 320px) / 1600)), 31.99px);
--fspt2424: clamp(31.99px, calc(31.99px + 0.0 * ((100vw - 320px) / 1600)), 31.99px);
--fspt2516: clamp(21.33px, calc(21.33px + 11.99 * ((100vw - 320px) / 1600)), 33.32px);
--fspt2521: clamp(27.99px, calc(27.99px + 5.33 * ((100vw - 320px) / 1600)), 33.32px);
--fspt2616: clamp(21.33px, calc(21.33px + 13.33 * ((100vw - 320px) / 1600)), 34.66px);
--fspt2720: clamp(26.66px, calc(26.66px + 9.33 * ((100vw - 320px) / 1600)), 35.99px);
--fspt3220: clamp(26.66px, calc(26.66px + 16.0 * ((100vw - 320px) / 1600)), 42.66px);
--fspt3724: clamp(31.99px, calc(31.99px + 17.33 * ((100vw - 320px) / 1600)), 49.32px);

}

/*---------------------------------------
  EC CUBE common
-----------------------------------------*/
.ec-layoutRole__contentTop .container,
.detail-pro .container {
  max-width: 1320px;
}

.ec-pager {
  list-style: none;
  list-style-type: none;
  margin: 3rem auto;
  padding: 1em 0;
  text-align: center;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1120));
}

.ec-pager .ec-pager__item--active {
  background: #525263;
  color: #fff;
  border-radius: 10px;
}

.ec-pager .ec-pager__item:hover {
  border-radius: 10px;
}

.ec-pager .ec-pager__item,
.ec-pager .ec-pager__item--active {
  display: inline-block;
  min-width: 29px;
  padding: 0 3px 0 2px;
  text-align: center;
  position: relative;
}

.ec-pager .ec-pager__item a,
.ec-pager .ec-pager__item--active a {
  color: inherit;
  display: block;
  line-height: 1.8;
  padding: 5px 1em;
  text-decoration: none;
}

/*---------------------------------------
  EC CUBE Btn
-----------------------------------------*/
@media (min-width: 768px) {

  .ec-blockBtn--action,
  .ec-cartRole__action,
  .ec-blockBtn--cancel,
  .ec-rectHeading p,
  .ec-rectHeading-error p,
  .ec-agreement .agreement-link .agreement-Btn:disabled,
  .ec-agreement .agreement-link .agreement-Btn,
  .ec-inlineBtn,
  .mypage-login-Btn,
  .mypage-login-Btns,
  .shipping-Btn-action,
  .shipping-Btn-add,
  .shipping-Btn-rev,
  .shipping-Btn-back {
    width: 360px !important;
  }
}

.ec-blockBtn--action,
.ec-cartRole__action,
.ec-blockBtn--cancel,
.ec-rectHeading p,
.ec-rectHeading-error p,
.ec-agreement .agreement-link .agreement-Btn:disabled,
.ec-agreement .agreement-link .agreement-Btn,
.ec-inlineBtn,
.mypage-login-Btn,
.mypage-login-Btns,
.shipping-Btn-action,
.shipping-Btn-add,
.shipping-Btn-rev,
.shipping-Btn-back {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  padding: 1.5rem;
  font-size: calc(12px + 2 * ((100vw - 320px) / 670));
  font-weight: bold;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  transition: ease .2s;
  width: 100%;
}

.ec-cartRole__actions,
.shipping-Btn__actions {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  width: 100%;
}

.ec-blockBtn--action,
.ec-cartRole__action,
.shipping-Btn-action {
  background: #0dab65;
  color: #fff;
  border: 2px solid #0dab65;
  height: 0;
  line-height: 0;
}

.ec-blockBtn--action:hover,
.ec-cartRole__action:hover,
.shipping-Btn-action:hover {
  color: #0dab65;
  background: #fff;
  border: 2px solid #0dab65;
}

.ec-blockBtn--cancel,
.shipping-Btn-back {
  background-color: #fff;
  color: #525263;
  border: 2px solid #c4c4c4;
  height: 0;
  line-height: 0;
}

.ec-blockBtn--cancel:hover,
.shipping-Btn-back:hover {
  color: #fff;
  background: #c4c4c4;
  border: 2px solid #c4c4c4;
}

.ec-cartTable .ec-blockBtn--action {
  display: none;
}

@media screen and (max-width: 768px) {
  .ec-cartTable .ec-blockBtn--action {
    display: block;
  }
}

/*---------------------------------------
  EC CUBE shipping-Btn
-----------------------------------------*/
.shipping-Btn-add,
.shipping-Btn-rev {
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background: #fff;
  color: #0dab65;
  border: 2px solid #0dab65;
  padding: 0.5rem;
}

.shipping-Btn-add p.Btn-read,
.shipping-Btn-rev p.Btn-read {
  font-size: calc(8px + 2 * ((100vw - 320px) / 670));
  padding: 0;
}

.shipping-Btn-add:hover,
.shipping-Btn-rev:hover {
  color: #fff;
  background: #0dab65;
  border: 2px solid #0dab65;
}

/*---------------------------------------
  EC CUBE VeriTrans
-----------------------------------------*/
button#vt4g_btn_token,
a#vt4g_btn_token_back {
  width: 350px !important;
  margin: 0 auto !important;
  text-align: center !important;
}

/*---------------------------------------
  FD common
-----------------------------------------*/
.ecv-Wrap {
  margin: 1rem auto !important;
}

.ecv-header {
  margin-top: 0 !important;
}

.wrapper {
  display: grid;
  column-gap: 10px;
  row-gap: 1em;
}

input {
  font-family: var(--font-family-base);
  color: #333;
  cursor: text;
  width: 100%;
  border: 1px solid #878787;
  border-radius: 8px;
  padding: 10px;
  display: block;
}

.form-control:disabled,
.form-control:read-only {
  background-color: #fff;
  color: #525263;
  opacity: 1;
}

img {
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: all 0.2s ease 0s;
  }
}

a img:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.indent {
  text-indent: -1rem;
  padding-left: 1rem;
}

.bl-primary,
.bl-secondary,
.bl-danger,
.bl-dark,
.bl-gray {
  position: relative;
  padding-left: .8em;
}

.bl-primary::before,
.bl-secondary::before,
.bl-danger::before,
.bl-dark::before,
.bl-gray::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

.bl-primary::before {
  background-color: var(--color-primary);
}

.bl-danger::before {
  background-color: #dc3545;
}

.bl-secondary::before {
  background-color: var(--color-secondary);
}

.bl-dark::before {
  background-color: black;
}

.bl-gray::before {
  background-color: #777777;
}

@media (max-width: 769px) {
  .fixed-bottom {
    position: initial;
  }
}

/*---------------------------------------
  col-15
-----------------------------------------*/
.col-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .col-15 {
    width: 20%;
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .col-15 {
    width: 20%;
    flex: 0 0 33.33333%;
  }
}

@media (min-width: 992px) {
  .col-15 {
    width: 20%;
    flex: 0 0 33.33333%;
  }
}

@media (min-width: 1200px) {
  .col-15 {
    width: 20%;
    flex: 0 0 20%;
  }
}

